# OS
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env

# Build artifacts
build/
dist/
*.egg-info/

# Caches
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/

# Editors/IDE
.idea/
.vscode/

# Misc
.coverage
.python-version
*.log
